<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/app-icon.ico" type="image/x-icon">
    <title>Farmacia | Fundación Apoyo</title>
</head>

<body>
    <nav>
        <div class="control">
            <img src="../img/icons/arrow.svg" alt="">
        </div>
        <div class="user-avatar">
            <img src="../img/user-avatar.png" alt="">
            <div class="details">
                <h3>Armando Casas</h3>
                <span>Enfermero</span>
            </div>
        </div>
        <div class="links">
            <ul>
                <li><a title="Pacientes" href="../index.html">Pacientes<img src="../img/icons/patient.svg" alt=""></a>

                </li>
                <li><a title="Farmacia" href="../views/farmacia.html">Farmacia<img src="../img/icons/drugstore.svg"
                            alt=""></a>
                </li>
                <li><a title="Ayuda" href="../views/ayuda.html">Ayuda<img src="../img/icons/help.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../img/icons/app-icon.svg" alt="">
            <h4>Fundación Apoyo</h4>
        </div>
    </nav>
    <div class="main">

    </div>
    <script src="../app.js"></script>
</body>

</html>