<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="app-icon.ico" type="image/x-icon">
    <title>Inicio | Fundación Apoyo</title>
</head>

<body>
    <nav class="nav--green"> 
        <div class="control control--green">
            <img src="../img/icons/arrow.svg" alt="">
        </div>
        <div class="user-avatar">
            <img src="../img/KSFgjwN5_400x400.jpg" alt="" style="border-radius: 45%;">
            <div class="details">
                <h3>Fulano de Tal</h3>
                <span>Aportador</span>
            </div>
        </div>
        <div class="links">
            <ul>
                <li><a title="Donar" href="../donar.html">Donar<img src="../img/icons/online-donation.svg" alt=""></a>

                </li>
                <li><a title="Historial" href="./views/historial.html">Historial<img src="../img/icons/clipboard.svg"
                            alt=""></a>
                </li>
                <li><a title="Ayuda" href="./views/ayuda.html">Ayuda<img src="../img/icons/help.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../img/icons/app-icon.svg" alt="">
            <h4>Fundación Apoyo</h4>
        </div>
    </nav>
    <main>
        <div class="alert" id="message"></div>
        <div class="patient__card">
           
            <form class="opened" style="background-color: rgb(18, 236, 83);"> 
                <h1>Nueva Donacion</h1>
                <div class="fields-group">
                    <div class="form__field">
                        <label>Nombre:</label>
                        <input type="text" placeholder="Nombre completo">
                    </div>
                    <div class="form__field">
                        <label>Número de Tarjeta:</label>
                        <input type="text" placeholder="XX-XXX-XXX-X">
                    </div>
                    <div class="form__field">
                        <label>Fecha de vencimiento:</label>
                        <input type="date" placeholder="Edad paciente">
                    </div>
                    <div class="form__field">
                        <label>Banco:</label>
                        <select>
                            <option value="BancoEstado">BancoEstado</option>
                            <option value="Chile">Banco de Chile</option>
                            <option value="Santander">Banco Santander</option>
                            <option value="BCI">Banco BCI</option>
                            <option value="Scotibank">Scotibank</option>
                            <option value="Fallabela">Banco Fallabela</option>
                        </select>
                    </div>
                    <div class="form__field">
                        <label>Monto a Donar:</label>
                        <input type="text" placeholder="$$$$$$$$$$$">
                    </div>
                    <div class="form__field">
                        <label>Tipo de Cuenta:</label>
                        <select>
                            <option value="Corriente">Cuenta Corriente</option>
                            <option value="Vista">Cuenta Vista</option>
                            <option value="Electronica">Chequera Electronica</option>
                        </select>
                    </div>
                    <div class="form__field">
                        <label>Metodo de Pago:</label>
                        <select>
                            <option value="Webpay">Webpay</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Servipag">Servipag</option>
                            <option value="Visa">Visa</option>
                        </select>
                    </div>
                    <div class="form__field">
                        <label>Motivo:</label>
                        <textarea placeholder="razon por la cual aporta a la fundacion" maxlength="100"></textarea>
                    </div>

                </div>
                <button class="add-btn add-btn--green">Donar</button>
            </form>
        </div>
    </main>
    <script src="../app.js"></script>
    <script src="../donar.js"></script>
</body>

</html>