<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../app-icon.ico" type="image/x-icon">
    <title>Inicio | Fundación Apoyo</title>
</head>

<body>
    <nav class="nav--green">
        <div class="control control--green">
            <img src="../img/icons/arrow.svg" alt="">
        </div>
        <div class="user-avatar">
            <img src="../img/KSFgjwN5_400x400.jpg" alt="" style="border-radius: 45%;">
            <div class="details">
                <h3>Fulano de Tal</h3>
                <span>Aportador</span>
            </div>
        </div>
        <div class="links">
            <ul>
                <li><a title="Donar" href="../donar.html">Donar<img src="../img/icons/online-donation.svg" alt=""></a>

                </li>
                <li><a title="Historial" href="#">Historial<img src="../img/icons/clipboard.svg" alt=""></a>
                </li>
                <li><a title="Ayuda" href="../views/ayuda.html">Ayuda<img src="../img/icons/help.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../img/icons/app-icon.svg" alt="">
            <h4>Fundación Apoyo</h4>
        </div>
    </nav>
    <main>
        <div class="alert" id="message"></div>

        <div class="patient__card">
            <div class="columns">
        
                <p>NOMBRE</p>
                <p>MONTO</p>
                <p>FECHA</p>
                <p>MOTIVO</p>
            </div>
            <div class="patient">
              <p>Fulanito de Tal</p>
              <p>$20.000</p>
              <p>30/02/2021</p>
              <p>Aporte voluntario</p>
            </div>
            <div class="patient">
                <p>Fulanito de Tal</p>
                <p>$15.000</p>
                <p>01/01/2021</p>
                <p>Aporte voluntario año nuevo</p>
              </div>
        </div>
    </main>
    <script src="../app.js"></script>
    <script src="../donar.js"></script>
</body>

</html>